@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

/* @tailwind base; */
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f3f2ee;
}

@media screen and (width <= 445px) {
  /* Write your CSS rules here */
  .bot {
    margin-bottom: 1rem;
  }

  .eq {
    margin-bottom: 1rem;
  }
}

@media screen and (width <= 393px) {
  /* Write your CSS rules here */
  .bot {
    margin-bottom: 1rem;
  }

  .eq {
    margin-bottom: 0;
  }
}

.bg-design-white {
  background-color: #f3f2ee;

  /* width: 100%; */
}

.design-border {
  border: 2px solid #d3d2cf;
}

.bg-design-gray {
  background-color: #d3d2cf !important;
}

.age {
  font-weight: 800;
  color: #d84f4f;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.svg {
  background-color: red !important;
}

.design-text-black {
  color: #1e293b;
}

.completed-blue-bg {
  background-color: #5c88dd !important;
  color: white !important;
}

.blue-border {
  border: 2px solid #174fbb;
}

.completed-blue-head {
  background-color: #174fbb !important;
  color: white !important;
}

.wdt {
  width: 100%;
}

.custom-button {
  background-image: linear-gradient(to right, #1e40af, #3b82f6, #1e40af);
  color: white;
  font-weight: 600;
  font-size: 2rem;
  padding: 1px 4rem;
  border-radius: 0.4rem;
  border: none;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
  transition: background-color 0.3s;
  cursor: pointer;
}

.text-mt {
  font-size: 12px;
}

@media screen and (width <= 768px) {
  /* Write your CSS rules here */
  .text-mt {
    font-size: 10px;
  }
}

.guess-key {
  background-color: #5f97f6;
  color: white;
  width: 72px;
}

.hint-key {
  background-color: #5f97f6;
  color: white;
  width: 64px;
}

.margen {
  margin-left: 2px;
}

button:disabled {
  background-color: #d3d2cf;
  color: white;
  cursor: not-allowed;
}

.custom-button:hover {
  background-image: linear-gradient(to right, #1e3a8a, #2563eb, #1e3a8a);
}

.bg-hint {
  background-color: #4d4d4d;
}

.text-xs {
  font-size: 10px;
}

.animate-custom-1 {
  animation-name: var-animation;
  animation-duration: 1.5s; /* Adjust duration as needed */
  animation-timing-function: ease-in-out; /* Adjust timing function as needed */
  animation-iteration-count: 1; /* Play animation once */
}

.animate-custom-2 {
  animation-name: var-animation;
  animation-delay: 0.5s;
  opacity: 0;
  animation-duration: 1.5s; /* Adjust duration as needed */
  animation-timing-function: ease-in-out; /* Adjust timing function as needed */
  animation-iteration-count: 1; /* Play animation once */
}

.animate-custom-3 {
  animation-name: var-animation;
  opacity: 0;
  animation-delay: 1s;
  animation-duration: 1.5s; /* Adjust duration as needed */
  animation-timing-function: ease-in-out; /* Adjust timing function as needed */
  animation-iteration-count: 1; /* Play animation once */
}

@keyframes var-animation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.animate-item-1 {
  animation: custom-animation 1s ease-in-out;
  animation-iteration-count: 1;
  animation-delay: 0.1s;
}

@media screen and (width <= 768px) {
  .animate-item-1 {
    animation: custom-animation-sm 1s ease-in-out;
    animation-iteration-count: 1;
    animation-delay: 0.1s;
  }
}

.animate-item-2 {
  animation: custom-animation-1 1s ease-in;
  animation-iteration-count: 1;
  animation-delay: 0.5s;
}

.animate-item-3 {
  animation: custom-animation-1 1s ease-in-out;
  animation-iteration-count: 1;
  animation-delay: 1.2s;
}

@keyframes custom-animation {
  0% {
    width: auto;
    height: 80px;
    background-color: white;
    opacity: 0.4;
  }

  50% {
    opacity: 0.7;
    width: auto;
    height: 80px;
    background-color: white;
  }

  100% {
    width: auto;
    height: 80px;
    background-color: white;
    opacity: 1;
  }
}

@keyframes custom-animation-1 {
  0% {
    width: auto;
    height: 64px;
    background-color: white;
    opacity: 0.4;
  }

  50% {
    opacity: 0.7;
    width: auto;
    height: 64px;
    background-color: #f3f2ee;
  }

  100% {
    width: auto;
    height: 64px;
    background-color: #f3f2ee;
    opacity: 1;
  }
}

@keyframes custom-animation-sm {
  0% {
    width: auto;
    height: 64px;
    background-color: white;
    opacity: 0.4;
  }

  50% {
    opacity: 0.7;
    width: auto;
    height: 64px;
    background-color: #f3f2ee;
  }

  100% {
    width: auto;
    height: 64px;
    background-color: #f3f2ee;
    opacity: 1;
  }
}

.title{
  position: absolute;
  left: 32%;
  padding: 0 12px 0 12px;
  border-radius: 20px;
  color: white;
}



.silver{
  background-color: #8EBEC4 !important;
  border: 1px solid #DFF4FD;
}

.golden {
  background-color: #C48F06 !important;
  border: 1px solid #FAC55F;
}

.level{
  position: absolute;
  color: #C46D06;
  left: 45%;
  top: 38%;
}

.level-green{
  position: absolute;
  color: #048210;
  left: 45%;
  top: 38%;
}

.level-silver{
  position: absolute;
  color: #929699;
  left: 42%;
  top: 38%;
}
.level-golden{
  position: absolute;
  color: #EEC21C;
  left: 45%;
  top: 38%;
}



.progress-bar-silver{
  position: absolute;
  bottom: 20%;
  left: 15%;
  width: 160px;
  height: 10px;
  border-radius: 20px;
  background-color: #B6BFC5;
}
.progress-bar-golden{
  position: absolute;
  bottom: 20%;
  left: 15%;
  width: 160px;
  height: 10px;
  border-radius: 20px;
  background-color: #FFE7B9;
}

.progress{
  background-color: #5F97F6;
  height: 6px;
}



.green {
  background-color: #2CC406;
  border: 1px solid #6BFA5F;
}
.progress-bar-green{
  position: absolute;
  bottom: 20%;
  left: 15%;
  width: 160px;
  height: 10px;
  border-radius: 20px;
  background-color: #B9FFBC;
}

/* Orange */

.bg-orange {
  background: url('/Orange.png');
  background-size: contain;
  background-repeat: no-repeat; /* Ensure the image is not repeated */
  width: 152.6px;
  height: 190.99px;
}


.progress-count{
  position: absolute;
  bottom: 8%;
  left: 33%;
  color : white;
  padding: 0 8px 0 8px;
  border-radius: 20px;
}

.progress-bar-orange{
  position: absolute;
  bottom: 20%;
  left: 15%;
  width: 100px;
  height: 6px;
  border-radius: 20px;
  background-color: #FFDBB9;
}
.title-orange{
  position: absolute;
  left: 25%;
  top: 10%;
  padding: 0 12px 0 12px;
  border-radius: 20px;
  color: white;
}

.orange {
  background-color: #C46D06 !important;
  border: 1px solid #FAA95F;
}









/* Purple */
.bg-purple {
  background: url('/purpleBadge.png');
  background-size: contain;
  background-repeat: no-repeat; /* Ensure the image is not repeated */
  width: 152.6px;
  height: 190.99px;
}
.purple{
  background-color: #C006C4 !important;
  border: 1px solid #FA5FF3;
}
.title-purple{
  position: absolute;
  left: 28%;
  top: 10%;
  padding: 0 12px 0 12px;
  border-radius: 20px;
  color: white;
}

.progress-bar-purple{
  position: absolute;
  bottom: 20%;
  left: 18%;
  width: 100px;
  height: 6px;
  border-radius: 20px;
  background-color: #FEB9FF;
}


.level-purple{
  position: absolute;
  color: #C006C4;
  left: 48%;
  top: 38%;
}

.progress-count-purple{
  position: absolute;
  bottom: 8%;
  left: 36%;
  color : white;
  padding: 0 8px 0 8px;
  border-radius: 20px;
}


/* Green */
.bg-green {
  background: url('/greenBadge.png');
  background-size: contain;
  background-repeat: no-repeat; /* Ensure the image is not repeated */
  width: 152.6px;
  height: 190.99px;
}

.green{
  background-color: #2CC406 !important;
  border: 1px solid #6BFA5F;
}

.title-green{
  position: absolute;
  left: 28%;
  top: 10%;
  padding: 0 12px 0 12px;
  border-radius: 20px;
  color: white;
}

.progress-bar-green{
  position: absolute;
  bottom: 20%;
  left: 18%;
  width: 100px;
  height: 6px;
  border-radius: 20px;
  background-color: #B9FFBC;
}

.level-green{
  position: absolute;
  color: #048210;
  left: 45%;
  top: 38%;
}

.progress-count-green{
  position: absolute;
  bottom: 8%;
  left: 36%;
  color : white;
  padding: 0 8px 0 8px;
  border-radius: 20px;
}

/* silver */

.bg-silver {
  background: url('/silverBadge.png');
  background-size: contain;
  background-repeat: no-repeat; /* Ensure the image is not repeated */
  width: 152.6px;
  height: 190.99px;
}

.silver{
  background-color: #8EBEC4 !important;
  border: 1px solid #DFF4FD;
}

.title-silver{
  position: absolute;
  left: 28%;
  top: 10%;
  padding: 0 12px 0 12px;
  border-radius: 20px;
  color: white;
}

.progress-bar-silver{
  position: absolute;
  bottom: 20%;
  left: 18%;
  width: 100px;
  height: 6px;
  border-radius: 20px;
  background-color: #B6BFC5;
}

.level-silver{
  position: absolute;
  color: #929699;
  left: 45%;
  top: 38%;
}

.progress-count-silver{
  position: absolute;
  bottom: 8%;
  left: 36%;
  color : white;
  padding: 0 8px 0 8px;
  border-radius: 20px;
}

/* golden */

.bg-golden {
  background: url('/goldenBadge.png');
  background-size: contain;
  background-repeat: no-repeat; /* Ensure the image is not repeated */
  width: 152.6px;
  height: 190.99px;
}

.golden{
  background-color: #C48F06 !important;
  border: 1px solid #FAC55F;
}

.title-golden{
  position: absolute;
  left: 28%;
  top: 10%;
  padding: 0 12px 0 12px;
  border-radius: 20px;
  color: white;
}

.progress-bar-golden{
  position: absolute;
  bottom: 20%;
  left: 18%;
  width: 100px;
  height: 6px;
  border-radius: 20px;
  background-color: #FFE7B9;
}

.level-golden{
  position: absolute;
  color: #EEC21C;
  left: 43%;
  top: 38%;
}

.progress-count-golden{
  position: absolute;
  bottom: 8%;
  left: 32%;
  color : white;
  padding: 0 8px 0 8px;
  border-radius: 20px;
}
