@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


/* @tailwind base; */
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #f3f2ee;
}

/* @media screen and (min-width: 424px) and (max-width: 474px) {
  .equal{
    margin-bottom: 1rem;
  }
  .eq {
    margin-bottom: 1rem;
  }
} */

@media screen and (max-width: 445px) {
  /* Write your CSS rules here */
  .bot{
    margin-bottom: 1rem;
  } 
  .eq{
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 393px){
  /* Write your CSS rules here */
  .bot{
    margin-bottom: 1rem;
  } 
  .eq{
    margin-bottom: 0rem;
  }
}


.bg-design-white {
  background-color: #f3f2ee;
  /* width: 100%; */
}

.design-border {
  border: 2px solid #d3d2cf;
}

.bg-design-gray{
  background-color: #d3d2cf !important;

}

.age {
  font-weight: 800;
    color: #D84F4F;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.svg {
  background-color: red !important;
}

.design-text-black {
  color: #1e293b;
}


.completed-blue-bg{
  background-color: #5c88dd !important;
  color: white !important;
}

.blue-border {
  border: 2px solid #174fbb;

}
.completed-blue-head{
  background-color: #174fbb !important;
  color: white !important;
}

.wdt{
  width: 100%;
}

.custom-button {
  background-image: linear-gradient(to right, #1E40AF, #3B82F6, #1E40AF);
  color: white;
  font-weight: 600;
  font-size: 2rem;
  padding: 1px 4rem;
  border-radius: 0.4rem;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: background-color 0.3s;
  cursor: pointer;
}

.text-mt{
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  /* Write your CSS rules here */
  .text-mt{
    font-size: 10px;
  }
}

.guess-key{
  background-color: #5f97f6;
  color: white;
  width: 72px;
}


.hint-key{
  background-color: #5f97f6;
  color: white;
  width: 64px
}


.margen {
  margin-left: 2px; 
}


button:disabled{
  background-color: #d3d2cf;
  color: white;
  cursor: not-allowed;
}

.custom-button:hover {
  background-image: linear-gradient(to right, #1E3A8A, #2563EB, #1e3a8a);
}

.bg-hint{
  background-color: #4d4d4d;
}

.text-xs{
  font-size: 10px;    
}



.animate-custom-1 {
  animation-name: customAnimation;
  animation-duration: 1.5s; /* Adjust duration as needed */
  animation-timing-function: ease-in-out; /* Adjust timing function as needed */
  animation-iteration-count: 1; /* Play animation once */
}
.animate-custom-2 {
  animation-name: customAnimation;
  animation-delay: 0.5s;
  opacity: 0;
  animation-duration: 1.5s; /* Adjust duration as needed */
  animation-timing-function: ease-in-out; /* Adjust timing function as needed */
  animation-iteration-count: 1; /* Play animation once */
}
.animate-custom-3 {
  animation-name: customAnimation;
  opacity: 0;
  animation-delay: 1s;
  animation-duration: 1.5s; /* Adjust duration as needed */
  animation-timing-function: ease-in-out; /* Adjust timing function as needed */
  animation-iteration-count: 1; /* Play animation once */
}



@keyframes customAnimation {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}


.animate-item-1 {
  animation: custom-animation 1s ease-in-out;
  animation-iteration-count: 1;
  animation-delay: 0.1s;
}

@media screen and (max-width: 768px){
  .animate-item-1{
    animation: custom-animation-sm 1s ease-in-out;
    animation-iteration-count: 1;
    animation-delay: 0.1s;
  }
}



.animate-item-2 {
  animation: custom-animation-1 1s ease-in;
  animation-iteration-count: 1;
  animation-delay: 0.5s;
}

.animate-item-3 {
  animation: custom-animation-1 1s ease-in-out;
  animation-iteration-count: 1;
  animation-delay: 1.2s;
}


@keyframes custom-animation {
  0% {
    width: auto;
    height: 80px;
    background-color: white;
    opacity: 0.4;
  }
  50% {
    opacity: 0.7;
    width: auto;
    height: 80px;
    background-color: white;
  }
  100% {
    width: auto;
    height: 80px;
    background-color: white;
    opacity: 1;
  }
}

@keyframes custom-animation-1 {
  0% {
    width: auto;
    height: 64px;
    background-color: white;
    opacity: 0.4;
  }
  50% {
    opacity: 0.7;
    width: auto;
    height: 64px;
    background-color: #f3f2ee;
  }
  100% {
    width: auto;
    height: 64px;
    background-color: #f3f2ee;
    opacity: 1;
  }
}

@keyframes custom-animation-sm {
  0% {
    width: auto;
    height:64px;
    background-color: white;
    opacity: 0.4;
  }
  50% {
    opacity: 0.7;
    width: auto;
    height: 64px;
    background-color: #f3f2ee;
  }
  100% {
    width: auto;
    height: 64px;
    background-color: #f3f2ee;
    opacity: 1;
  }
}
