@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #f3f2ee;
}

@media screen and (min-width: 424px) and (max-width: 474px) {
  /* Write your CSS rules here */
  .equal{
    margin-bottom: 1rem;
  }
  .eq {
    margin-bottom: 1rem;
  }

}

@media screen and (max-width: 424px) {
  /* Write your CSS rules here */
  .equal{
    margin-bottom: 1rem;
  } 
}


.bg-design-white {
  background-color: #f3f2ee;
  /* width: 100%; */
}

.design-border {
  border: 2px solid #d3d2cf;
}

.bg-design-gray{
  background-color: #d3d2cf !important;

}

.age {
  font-weight: 800;
    color: #D84F4F;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.svg {
  background-color: red !important;
}

.design-text-black {
  color: #1e293b;
}


.completed-blue-bg{
  background-color: #5c88dd !important;
  color: white !important;
}

.completed-blue-head{
  background-color: #174fbb !important;
  color: white !important;
}


.custom-button {
  background-image: linear-gradient(to right, #1E40AF, #3B82F6, #1E40AF);
  color: white;
  font-weight: 600;
  font-size: 2rem;
  padding: 1px 4rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: background-color 0.3s;
  cursor: pointer;
}

.guess-key{
  background-color: #5f97f6;
  color: white;
}

.guess-key:hover{
  background-color: #1e3a8a !important;
}

.hint-key{
  background-color: #324350;
  color: white;
}

.hint-key:hover{
  background-color: #4d4d4d !important;
}

.custom-button:hover {
  background-image: linear-gradient(to right, #1E3A8A, #2563EB, #1e3a8a);
}

.bg-hint{
  background-color: #4d4d4d;
}
